<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Erro</h1>
    <p><%= message %></p>
</body>
<footer>
    <p>Rotas disponíveis:</p>
    <ul>
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/register">Cadastrar Treinador</a></li>
        <li><a href="/trainers">Lista de Treinadores</a></li>
        <li><a href="/search">Buscar Pokémon</a></li>
    </ul>
</footer>
</html>
