<!DOCTYPE html>
<html lang="pt-BR">
<link rel="shortcut icon" href="/images/favicon.png" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
    <h1>Bem-vindo ao mundo Pokémon!</h1>
    <div class="routes">
        <h2>O que deseja fazer?</h2>
        <ul>
            <li><a href="/register">Cadastrar Treinador</a></li>
            <li><a href="/trainers">Lista de Treinadores</a></li>
            <li><a href="/search">Buscar Pokémon</a></li>
        </ul>
    </div>
    <img src="images/1243956.jpg" class="centered-image">
    <footer>
        <p>&copy; 2024 Pokémon World. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
