<!DOCTYPE html>
<html lang="pt-BR">
<link rel="shortcut icon" href="/images/favicon.png" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Pokémon</title>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <div class="search-container">
        <h1>Busque um Pokémon</h1>
        <form action="/pokemon" method="GET" class="search-form">
            <input type="text" name="name" placeholder="Digite o nome do Pokémon" required class="search-input">
            <button type="submit" class="search-button">Buscar</button>
        </form>
    </div>
</body>
<footer>
    <p>Rotas disponíveis:</p>
    <ul>
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/register">Cadastrar Treinador</a></li>
        <li><a href="/trainers">Lista de Treinadores</a></li>
        <li><a href="/search">Buscar Pokémon</a></li>
    </ul>
</footer>
</html>

