<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Treinador</title>
    <link rel="stylesheet" href="/css/trainerRegister.css">
    <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
    <div class="navbar">
        <div class="nav-container">
            <img src="images/pokemon-logo1.png" alt="Logo Pokémon" class="logo">
            <div class="nav-links">
                <a href="/">Página inicial</a>
                <a href="/search">Buscar Pokémon</a>
                <a href="/trainers">Lista de Treinadores</a>
                <a href="/register">Cadastrar Treinador</a>
            </div>
        </div>
    </div>
    <h1>Cadastrar Treinador Pokémon</h1>
    <form action="/register" method="POST">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required>

        <label for="team">Equipe:</label>
        <input type="text" name="team" id="team" required>

        <label for="height">Altura (cm):</label>
        <input type="number" name="height" id="height" required>

        <label for="weight">Peso (kg):</label>
        <input type="number" name="weight" id="weight" required>

        <label for="pokemon">Adicionar Pokémon:</label>
        <input type="text" id="pokemon-input">
        <ul id="pokemon-suggestions" class="scrollable-list"></ul>
        <button type="button" id="add-pokemon-btn">Adicionar</button>

        <div id="selected-pokemons">
            <h3>Pokémons Selecionados:</h3>
            <ul id="pokemon-list"></ul>
        </div>

        <input type="hidden" name="pokemon" id="pokemon-hidden-input" required>

        <button type="submit">Cadastrar Treinador</button>
    </form>
</body>
<script src="/js/trainerRegister.js"></script>
</html>
