@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    min-height: 100vh;
    background-image: url('/images/background4.jpg'); 
    background-repeat: repeat; 
    background-size: 2000px; 
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
 margin-top: 50px;
}

.higher {
    color: green;
    font-weight: bold;
}

.lower {
    color: red;
}

.comparison-container {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    padding: 30px; 
    margin-bottom: 30px; 
}

.pokemon {
    margin: 0 20px; 
    padding: 30px; 
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    text-align: center; 
}

.pokemon img {
    max-width: 100%; 
    height: auto; 
}

button {
    padding: 15px;
    width: 100%; 
    max-width: 350px; 
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

button:hover {
    background-color: #ffffffa8;
    color: #000;
}

button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 1.1em;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    background-color: #a10c0c;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .navbar .nav-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar img.logo {
    width: 200px;
    height: auto;
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s, transform 0.3s;
    position: relative;
  }
  
  .nav-links a:hover {
    color: #ffcb05; 
    transform: translateY(-5px); 
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffcb05;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }
  
  .nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }