@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

body {
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    color: black; 
    font-family: 'Oxanium', cursive;
    padding: 20px; 
    text-align: center; 
}

.routes {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #ffffffd1; 
    border-radius: 10px;
    padding: 50px; 
}

.routes h2 {
    color: #000000; 
    text-align: center; 
}

.routes ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.routes li {
    margin: 10px; 
}

button {
    padding: 15px;
    width: 100%; 
    max-width: 350px; 
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #0000005f;
    color: white;
    font-size: 1.2em;
    font-family: 'Oxanium', cursive;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

button:hover {
    background-color: #ffffffa8;
    color: #000;
}

button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 1.2em;
}

h1 {
    position:absolute;
    left: 33%;
    margin-bottom: 20px; 
    background-color: #ffffff;
    padding: 20px;
}

ul {
    list-style-type: none; 
    padding: 0; 
}

.centered-image {
    display: block; 
    margin: 0 auto;
    width: 100%; 
    height: auto;
}
