@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

h1 {
color: black;

}

.capitalize {
  text-transform: capitalize; 
}

.pokedex-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.pokedex {
  width: 100%;
  max-width: 600px; 
}

.pokemon-info {
  position: absolute; 
  top: 72%; 
  left: 49%;
  max-width: 400px;
  transform: translate(-50%, -50%); 
  color: #fff; 
  text-align: center; 
  padding: 20px; 
  line-height: 2em;
  text-overflow: ellipsis;
}

.pokemon__sprite {
  position: absolute;
  top: 28%; 
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__name {
  font-size: 2em; 
  margin: 5px 0 30px 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.search-input {
  width: 100%;
  max-width: 350px; 
  padding: 15px;
  border: 2px solid #fafafa;
  border-radius: 5px;
  font-size: 1.2em;
  justify-content: center;
  outline: none;
  color: #333;
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.search-input::placeholder {
  color: #888;
  font-size: 1em;
}

.search-button {
  padding: 15px;
  width: 100%; 
  max-width: 350px; 
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #0000005f;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.search-button:hover {
  background-color: #ffffffa8;
  color: #000;
}

.search-button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 1.1em;
}

button {
  padding: 15px;
  width: 100%; 
  max-width: 350px; 
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #0000005f;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

button:hover {
  background-color: #ffffffa8;
  color: #000;
}

button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 1.1em;
}

footer {
  background-color: #a10c0c;
  color: white; 
  text-align: center; 
  padding: 20px 0; 
  bottom: 0; 
  width: 100%; 
  margin-top: 230px;
}

footer ul {
  list-style-type: none; 
  padding: 0;
  margin: 0; 
}

footer li {
  display: inline-block; 
  margin: 0 15px; 
}

footer a {
  color: white; 
  text-decoration: none; 
}

footer a:hover {
  text-decoration: underline; 
}
