@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background-image: url('/images/background4.jpg'); 
  background-repeat: repeat; 
  background-size: 2000px; 
  background-color: #f0f0f0; 
  min-height: 100vh;
}

h1 {
color: black;

}

.capitalize {
  text-transform: capitalize; 
}

.pokedex-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.pokedex {
  width: 100%;
  max-width: 600px; 
}

.pokemon-info {
  position: absolute; 
  top: 72%; 
  left: 49%;
  max-width: 400px;
  transform: translate(-50%, -50%); 
  color: #fff; 
  text-align: center; 
  padding: 20px; 
  line-height: 2em;
  text-overflow: ellipsis;
}

.pokemon__sprite {
  width: 120px;
  height: 120px;
  object-fit: contain;
  position: absolute;
  top: 28%; 
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__name {
  font-size: 2em; 
  margin: 5px 0 30px 0;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.search-input {
  width: 100%;
  max-width: 350px; 
  padding: 15px;
  border: 2px solid #fafafa;
  border-radius: 5px;
  font-size: 1.2em;
  justify-content: center;
  outline: none;
  color: #333;
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.search-input::placeholder {
  color: #888;
  font-size: 1em;
}

.search-button {
  padding: 15px;
  width: 100%; 
  max-width: 350px; 
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #0000005f;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.search-button:hover {
  background-color: #ffffffa8;
  color: #000;
}

.search-button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 1.1em;
}

button {
  padding: 15px;
  width: 100%; 
  max-width: 350px; 
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  margin-bottom: 50px;
}

button:hover {
  background-color: #ffffffa8;
  color: #000;
}

button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 1.1em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  background-color: #a10c0c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar .nav-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.navbar img.logo {
  width: 200px;
  height: auto;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.3s, transform 0.3s;
  position: relative;
}

.nav-links a:hover {
  color: #ffcb05; 
  transform: translateY(-5px); 
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffcb05;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}