@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

body {
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    color: rgb(0, 0, 0); 
    font-family: 'Oxanium', cursive;
    padding: 20px;
}

h1 {
    text-align: center; 
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 20px;
}

form {
    background-color: #ffffffc9; 
    border-radius: 5px; 
    border-color: black;
    padding: 40px;
    margin: 50px auto; 
    max-width: 350px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

label {
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold; 
}

input[type="text"],
input[type="number"] {
    width: 94%; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    margin-bottom: 15px;
    background-color: #ffffff; 
    color: black; 
}

button {
    background-color: #ffffff; 
    color: #000000; 
    padding: 10px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
    font-weight: bold; 
}

button:hover {
    background-color: #00000025;
    color: rgb(0, 0, 0); 
}

footer {
    background-color: #a10c0c; 
    color: white; 
    text-align: center; 
    padding: 20px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
    margin-top: 20px;
}

footer ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

footer li {
    display: inline-block; 
    margin: 0 15px; 
}

footer a {
    color: white; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}
